/*.search-bar{
  font-size: 20px;
  display: block; /* hydi 7ta mn5li chi bnfs l5at ykun mwjud m3a */
  /* inline-block: hay btsir klchi mtla 3a nfs satr 

} */

.header{
  height:55px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0px;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
  z-index: 100;
}

.left-section{
  width: 150px;
  display: flex;
  align-items: center;
}

.hamburger-menu{
  height:27px;
  margin-left: 25px;
  margin-right: 28px;
}

.youtube-logo{
  height:23px;
}

.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 30px;
  max-width: 500px;
  display: flex;
  align-items: center;

}

.search-button{
  height:40px;
  width:66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.search-button:hover{
  background-color: rgb(233, 233, 233);
}

.search-button .tooltip{
 position: absolute; 
 font-family: Roboto, Arial; 
 background-color: gray;
 color: white;
 padding-top: 4px;
 padding-bottom: 4px;
 padding-left: 8px;
 padding-right: 8px;
 border-radius: 2px;
 font-size: 12px;
 bottom: -30px;
 opacity: 0; /* hn 0 krml t5tfi mnl wej w 1 krml tbyn bs lama a3mol hovering */
 transition: opacity 0.15;
 pointer-events: none; /* he krml bs n2rb lmouse 3l tooltip ma tbyn hovering kmn dal m5fye */
 white-space: nowrap;
}

.search-button:hover .tooltip{
  opacity: 1;

}

.voice-search-button{
  height: 40px;
  width: 40px;
  border: none;
  background-color: rgb(250, 250, 250);
  border-radius: 20px;
  margin-left: 8px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voice-search-button .tooltip{
  position: absolute;  
  font-family: Roboto, Arial;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15;
  pointer-events: none;
  white-space: nowrap; /* he krml ljmle tnktb 3a satr whd */
}

.voice-search-button:hover .tooltip{
  opacity: 1;
}

.search-icon{
  height: 26px;
  
}

.voice-search-icon{
  height: 24px;
  background-color: rgb(250, 250, 250);
  
}



.search-bar{
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width:1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;/* he krml bs n3mol zoom out search bar tfut kla 3l e5r m3 zoom*/
}

.search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 16px;
  
}

.right-section{
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;/* he krml bs n3mol zoom out klchi bl right side ma yzem 3a b3du */
}

.upload-icon{
  height: 25px;
  cursor: pointer;
}

.notification-icon{
  height: 25px;
  cursor: pointer;
}

.youtube-apps-icon{
  height: 25px;
  cursor: pointer;
}

.channel-icon{
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}

.notification-icon-container{
  position: relative;
}

.notification-count{
  position: absolute;
  top: -4px;
  right: -2px;
  background-color: red;
  color: white;
  font-family: Roboto, Arial;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;

}

.upload-icon-container,
 .youtube-app-icon-container,
  .notification-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .upload-icon-container .tooltip,
  .youtube-app-icon-container .tooltip,
  .notification-icon-container .tooltip{
    position: absolute;
    font-family: Roboto, Arial;  
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15;
    pointer-events: none;
    white-space: nowrap;
   
  }  

  .upload-icon-container:hover .tooltip,
  .youtube-app-icon-container:hover .tooltip,
  .notification-icon-container:hover .tooltip{
    opacity: 1;
  }